#sidepanel-events-header {
    min-height: 48px;
    overflow: visible;
    align-items: center;
}
/* Désactive le scroll du body quand le panneau latéral est ouvert sur mobile */
body.no-scroll {
    @import url("./base.css");
    @import url("./map.css");
    @import url("./panel.css");
    @import url("./events.css");
    @import url("./responsive.css");
}